<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <!-- Bootstrap & jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Javascript -->
    <script src="/js/DGAPIService.js"></script>
    <script src="/js/functions.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />

    <title>Disc Golf</title>
  </head>

  <body>
  <div class="container">
    <div id="main-container" class="container">
      <h3 class="center-x center-y">Vidisc<br/>
      <small class="center-x center-y">Disc Golf Scores</small>
      <small id="version" class="center-x center-y"></small>
  </h3>
      <!-- select course and players -->
      <div id="menu-container" class="container">
        <button class="btn btn-block btn-primary" onClick=window.location.href='/game';>New game</button>
        <button class="btn btn-block btn-primary" onClick=window.location.href='/scores';>Scorecards</button>
        <button class="btn btn-block btn-primary" onClick=window.location.href='/stats';>Statistics</button>
        <button class="btn btn-block btn-primary" onClick=window.location.href='/players';>Players</button>
        <button class="btn btn-block btn-primary" onClick=window.location.href='/courses'>Courses</button>
        <button class="btn btn-block btn-primary" onClick="javascript:about()">About</button>
      </div>
    </div>
  </div> <!-- /container -->

  </body>
</html>