<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <!-- Bootstrap & jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Javascript -->
    <script src="/js/functions.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/players.css" />

    <title>Players</title>
  </head>

  <body>
  <div class="container">
    <div id="main-container" class="container">

      <div id="header-container">
        <div id="left">
          <h4 class="center-x center-y">Players</h4>
        </div>
        <div id="right">
          <button id="back-btn" class="btn btn-lg btn-primary" onClick="javascript:window.location.href = '/';">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
        </div>
      </div>

      <form id="add-player-form" method="post" action="http://discgolfapi-vpii.rhcloud.com/discgolfapi/disc/api/addplayer" >
        <input name="name" id="new-player-name" class="form-control" type="text" placeholder="Player name"></input>
        <input type="submit" id="add-player-btn" class="btn btn-block btn-primary" value="Add Player"></input>
      </form>
    </div>
  </div>

  </body>
</html>