<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <!-- Bootstrap & jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Javascript -->
    <script src="/js/functions.js"></script>
    <script src="/js/statistics-nav.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/global.css" >
    <link rel="stylesheet" type="text/css" href="/css/statistics-nav.css" >

    <title>Disc Golf</title>
  </head>

  <body>
  <!-- user -->
  <div class="container">
    <div id="main-container" class="container">
      
      <div id="header-container">
        <div id="left">
          <h4 class="center-x center-y center-x center-y">Statistics</h4>
        </div>
        <div id="right">
          <button id="back-btn" class="btn btn-lg btn-primary" onClick="javascript:window.location.href = '/';">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      

      <div id="players-list-container">
        <h5 class="center-x center-y center-x center-y">Loading..</h5>
      </div>

    </div>

  </div> <!-- /container -->

  </body>
</html>