.center-x {
	text-align: center;
}

.center-y {
	vertical-align: middle;
}

#main-container {
	width: 80%;
	max-width: 350px;
}

h3 {
	/*color: #FF6600;*/
	color: #FFFFFF;
}

h4 {
	color: #FFFFFF;
}

h5 {
	color: #FFFFFF;
}

body {
	background-color: #111111;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){

 	html, body {
 		width: 100%;
 	}

 	#main-container {
		width: 100%;
		max-width: 400px;
	}

	.container {
		padding: 0px;
		margin: 5px;
	}
	
	/* for removing the annoying hover on mobile */
	.btn-primary:hover {
		background-color: #428bca;
		border-color: #357ebd;
	}
}

/* orange button */
.btn-orange { 
  color: #00ffff; 
  background-color: #FF6600; 
  border-color: #111111; 
} 
 
.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  color: #00ffff; 
  background-color: #C75000; 
  border-color: #111111; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #FF6600; 
  border-color: #111111; 
} 
 
.btn-orange .badge { 
  color: #FF6600; 
  background-color: #00ffff; 
}

/* end of orange button */
