.center-x {
	text-align: center;
}

.center-y {
	vertical-align: middle;
}

.btn-primary {
	font-size: 16px;
	background-color: #1060A0;
	border-color: #054e9d;
}

.list-group-item-info { 
	background-color: #1060A0;
}

#main-container {
	width: 80%;
	max-width: 350px;
}

#header-container > #left {
	width: 75%;
	float: left;
}
#right > #back-btn {
	font-size: 12pt;
}
#header-container > #right {
	width: 20%;
	float: right;
}

#header-container {
	margin-top: 15px;
	height: 50px;
}

h3 {
	/*color: #FF6600;*/
	color: #FFFFFF;
}

h4 {
	color: #FFFFFF;
}

h5 {
	color: #FFFFFF;
}

body {
	background-color: #111111;
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
 	html, body {
 		width: 100%;
 	}

 	#main-container {
		width: 100%;
		max-width: 400px;
	}

	.container {
		padding: 0px;
		margin: 0px;
	}
	
	/* for removing the annoying hover on mobile */
	/* match these with the global values above in this file */
	.btn-primary:hover {
		background-color: #1060A0;
		border-color: #054e9d;
	}
}