#main-container {
	padding: 15px;
}
#player-name {
	text-align: center;
	vertical-align: middle;
}
.course>.title {
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 3px 3px 3px 3px;
}
.course>.content {
	background-color: #333333;
	padding: 15px 15px 10px 15px;
	height: auto;
	overflow: hidden;
	border-radius: 3px 3px 5px 5px;
}
.course-stat {
	color: #FFFFFF;
	padding-left: 10px;
}
.hole-title {
	margin: 5px 0px 0px 0px;
	height: 50px;
}
.hole-header {
	width: 54%;
	float: left;
	padding: 3px 0px 0px 10px;
	height: 100%;
	color: #FFFFFF;
	margin-bottom: 0px;
	vertical-align: middle;
}
.hole-controls {
	width: 42%;
	float: right;
}
.hole-stats-container {
	padding: 5px;
	margin: 5px 0px 0px 0px;
	height: 320px;
}
.hole-stats {
	
}
.hole-info-container {
	float: right;
	width: 44%;
	height: 150px;
	background-color: #111111;
	border-radius: 15px 15px 15px 15px;
	border: 1px solid #FFFFFF;
	padding: 10px 5px 10px 10px;
	color: #FFFFFF;
	font-size: 9pt;
}
.hole-score-chart-container {
	float: left;
	width: 48%;
	height: 150px;
	padding: 10px 0px 0px 0px;
}
.hole-score-chart {
	width: 135px;
	height: 135px;
}
hr {
	margin: 0px 10px 10px 10px;
}
#minus, #plus {
	width: 50px;
	height: 50px;
	margin-left: 3px;
}
.course-score-linechart-container, .hole-score-linechart-container {
	width: 100%;
	padding: 0px 5px 0px 5px;
}
.line-chart {
	vertical-align: middle;
}