.list-title {
	color: #FFFFFF;
}

.list-group-item-info {
	background-color: #428bca;
	border: 1px solid #333333;
}

a.list-group-item:hover, a.list-group-item:focus {
	background-color: #226baa;
}

h4 small {
	color: #FFFFFF;
}

#main-container {
	padding-left: 15px;
	padding-right: 15px;
}