#course-container {
	width: 100%;
}

#scorecard-container {
	width: 100%;
}

#scorecard-table {
	overflow: hidden;
	table-layout: fixed;
	width: 110px;
}

.table>tbody {
	overflow: hidden;
	table-layout: fixed;
}

.table>tbody>tr>th {
	width: 55px;
	color: #00FFFF;
	font-size: 10pt;
	vertical-align: middle;
	text-align: center;
	border: none;
}

.table>tbody>tr>td {
	padding: 0px;
	margin: 0px;
	width: 55px;
	height: 25px;
	overflow: hidden;
	color: #000000;
	font-weight: bold;
	font-size: 12pt;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #000000;
}

#courseprint {
	color: #00FFFF;
}

#tablescroll {
    overflow: scroll;
    height: 290px;
    width: 100%;
}

@media screen and (max-device-width: 480px) {
	/* Increase width & height to hide scroll bars */

}
