.list-title {
	color: #FFFFFF;
}

.list-group-item-info h5 {
	margin: 8px;
}

.list-group-item-info {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 15px;
	padding-left: 15px;

	border: 1px solid #333333;
}

a.list-group-item:hover, a.list-group-item:focus {
	background-color: #226baa;
}

h5 small {
	color: #DDDDDD;
	font-size: 95%;
	line-height: 1.5;
}

#main-container {
	padding-left: 15px;
	padding-right: 15px;
}